<?xml version="1.0" encoding="UTF-8"?>
<suite name="PetSuite">
 	
 	<listeners>
 		<listener class-name="api.utilities.ExtentReportManager"/>
 	</listeners>

  <test thread-count="5" name="PetTest">
    <classes>
      <class name="api.test.DDtest"/>
    <!--   <class name="api.test.DDtest"/>--> 
    </classes>
  </test> <!-- PetTest -->
</suite> <!-- PetSuite -->
